<ion-header class="ion-no-border">
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" class="custom-link" fill="clear">
        <object type="image/svg+xml" data="assets/logo.svg" class="logo-object"></object>
      </ion-button>
    </ion-buttons>
    
    <div class="spacer"></div>
    
    <ion-buttons slot="end" [routerLink]="['/panier']">
      <object type="image/svg+xml" data="assets/panier.svg" class="logo-panier"></object>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
