@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Staatliches&display=swap');

.container {
  position: relative;
  background-color: #E9E9E9;
  height: 100%;
}

.container-card {
  position: relative;
  background-color: #ffffff;
  height: fit-content;
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
}

.image-container {
  border-radius: 100px;
}

.text-section {
  font-family: "Jomhuria", serif;
  line-height: 150%;
  font-style: normal;
  color: #0077b6;
  padding: 10px;
}

.text-section h1 {
  line-height: 50%;
  font-size: 60px;
}

.text-section p {
  line-height: 50%;
  font-size: 30px;
}
