<app-header></app-header>
<div class="container">
  <div class="container-card">
    <div class="text-section">
      <h1>Contacts</h1>
      <p>
        Vente en direct sur notre bateau
      </p>
      <p>
        Livraisons sur Paris
      </p>
      <ion-list>
        <ion-item>
          <ion-icon name="call"></ion-icon>
          <p>06.63.99.99.78</p>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-facebook"></ion-icon>
          <p>www.facebook.com/lebateaudethibault</p>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <p>lebateaudethibault&#64;gmail.com</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>