<app-header></app-header>
<ion-content>
  <div class="page-subtitle">
    Liste des Bateaux
  </div>

  <div class="boat-list">
    
    <!-- Carte 1 -->
    <a>
    <div class="card">
      <div class="card-body">
        <div class="card-image">
          <img src="../../assets/boat.jpg" alt="boat" id="boat" />
        </div>
        <div class="card-content">
          <h2 class="text">Nom du Bateau 1</h2>
        </div>
      </div>
    </div>
    </a>

    <!-- Carte 2 -->
    <a>
    <div class="card">
      <div class="card-body">
        <div class="card-image">
          <img src="../../assets/boat.jpg" alt="boat" id="boat" />
        </div>
        <div class="card-content">
          <h2 class="text">Nom du Bateau 2</h2>
        </div>
      </div>
    </div>
    </a>

    <!-- Carte 3 -->
    <div class="card">
      <div class="card-body">
        <div class="card-image">
          <img src="../../assets/boat.jpg" alt="boat" id="boat" />
        </div>
        <div class="card-content">
          <h2 class="text">Nom du Bateau 3</h2>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-tabs></app-tabs>
